{
  "env": {
    "legacy": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 4,
              "browsers": ["ie >= 11"]
            },
            "spec": true,
            "modules": "commonjs",
            "include": [
              "transform-es2015-classes"
            ],
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        [
          "transform-runtime", {
            "helpers": true,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ]
    },
    "legacy-rollup-umd": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["ie >= 11"]
            },
            "spec": true,
            "modules": false,
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        [
          "transform-runtime", {
            "helpers": true,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ]
    }
  }
}
